# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
.venv/
venv/
env/
.env

# VS Code settings
.vscode/

# ChromaDB persistence
chromadb_data/

# Test and coverage reports
.pytest_cache/
coverage/
htmlcov/
.coverage
*.cover
*.pyc

# MacOS system files
.DS_Store

# Temporary files
temp/
*.tmp
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/


#adk folders
.adk/
*.adk/

# Ignore test files
test.txt